<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Logo of DSC IIIT Surat -->
    <center>
        <img src="https://pbs.twimg.com/profile_banners/1302249937405579267/1599322216/600x200" alt="Image not Found">
    </center>
    <!-- Display the main heading  -->
    <center>
        <h1>List of events by DSC IIIT Surat</h1>
    </center>
    <!-- Display all the events with major details -->
    <ol>
        {% for event in allEvents %}
            <!-- Display the name of the event -->
            <li class = 'event'><a href="/{{event.id}}/">{{event.eventName}}</a></li>
                <!-- Display the details of the event -->
                <ul>
                    <!-- Display the logo of the event -->
                    <li class="event-image"><img src="{{event.eventImage}}" alt="Image Not Found for this event"></li>
                    <!-- Display the Start time and End time of the event -->
                    <li class="event-start-time">{{event.eventStartTime}} to {{event.eventEndTime}}</li>
                    <!-- Tell the key person of the event to contact in case of issues -->
                    <li class="event-keyPerson">{{event.eventKeyPerson}}, {{event.eventKeyPerson.contactNumber}}</li>
                    <!-- Correct the fix when you find it, there is some syntactical error, to avoid being read as Python Code -->
                    <!-- <li><a href="https://api.whatsapp.com/send?phone=91 event.eventKeyPerson.contactNumber[4:9]{event.eventKeyPerson.contactNumber[10:14]}}"></a></li> -->
                </ul>
        {% endfor %}
    </ol>
</body>
</html>