<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Participated by {{participant.partName}}</title>
</head>
<body>
    <center>
        <h1>Events Participated by <a href="{% url 'participation' participant.id %}">{{participant.partName}}</a></h1>
</center>
    {% if participant.partEvents %}
        <ol>
            {% for event in allEvents %}
                <li><a href="{% url 'event' event.id %}">{{event.eventName}}</a></li>   
            {% endfor %}
        </ol>
    {% endif %}
</body>
</html>